<!-- One Way flights result template -->
<div class="col-xs-12 col-sm-8 col-md-9">
    <div data-ng-if="!flights.length">
        <div class="no-flights-message">Sorry, no flights are available. Try searching flights between these cities: Delhi, Pune, Bangalore, Kolkata, Hyderabad, Chennai or change price range value and search again.</div>
    </div>
    <div data-ng-if="flights.length">
        <div class="row depart-date">
            <div class="col-xs-12 col-md-6 oneway-flight-head">{{flights[0].fromCityName}} &gt; {{flights[0].toCityName}}</div>
            <div class="col-xs-12 hidden-md hidden-lg" data-ng-if="departureDate">Depart: {{departureDate}}</div>
            <div class="col-md-6 hidden-xs hidden-sm text-right" data-ng-if="departureDate">Depart: {{departureDate}}</div>
        </div>    
        <div>
            <ul class="flight-result-section">
                <li class="row" data-ng-repeat="flight in flights">
                    <h3 class="flight-price">Rs. {{flight.flightRate}}</h3>
                    <div class="col-xs-7 flight-details">                        
                        <div>{{flight.flightNumber}}</div>
                        <div>{{flight.fromCityCode}} &gt; {{flight.toCityCode}}</div>
                        <div>Depart: {{flight.departureTime}}</div>
                        <div>Arrive: {{flight.arrivalTime}}</div>
                    </div>
                    <div class="col-xs-5 text-right book-flight-btn">
                        <button type="button" class="btn btn-primary">Book this flight</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>